@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* cabecalho */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
} */

.container-cabecalho {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.area-cabecalho {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
  url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: center center;
  background-size: cover;
}

.navbar-area {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}

.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* cabecalho mobile */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 10px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
}



/*menu*/
.menu {
  position: relative;
  z-index: 9000;
  width: 2.5em;
  height: 2.5em;
  padding-top: 10px;
}
.menu:hover {
  cursor: pointer;
}

.menu__linha {
  content: " ";
  display: block;
  width: 100%;
  height: 0.1875em;
  background: black;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
.menu__linha:last-child {
  margin-bottom: 0;
}

.menu--passos .menu__linha {
  transition: width 0.12s ease-in-out;
}
.menu--passos .menu__linha:nth-child(2) {
  width: 80%;
}
.menu--passos .menu__linha:last-child {
  width: 55%;
}

.menu--passos-right .menu__linha {
  float: right;
}

.menu--passos:hover .menu__linha {
  width: 100%;
}

.menu--ativo.menu--passos .menu__linha {
  transition: none;
  width: 100%;
}

.menu--ativo .menu__linha{
  position: absolute;
  top: 0.8em;
  margin: 0;
  background: white;
}
.menu--ativo .menu__linha:first-child{
  transform: rotate(-45deg);
}
.menu--ativo .menu__linha:nth-child(2) {
  display: none;
}
.menu--ativo .menu__linha:last-child {
  transform: rotate(45deg);
}

.nav-telacheia {
  position: fixed;
  display: flex;
  z-index: 800;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}
.nav-telacheia--open {
  opacity: 1;
  visibility: visible;
}
.nav-telacheia__itens {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 3rem;
  line-height: 6rem;
}
@media (max-width: 375px) {
  .nav-telacheia__itens {
    font-size: 2rem;
    line-height: 4rem;
  }
}
.nav-telacheia__item a {
  text-decoration: none;
  color: white;
  transition: color 0.1s ease-in-out;
}
.nav-telacheia__item a:hover {
  color: #CCCCCC;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/* slider */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b; 
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-Titulo {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#alta {
  padding: 2rem 0 3rem 0 ;
}

@media (max-width:1440px) {
  #alta {
    padding: 7rem 0;
  }
}

#alta .alta-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #alta .alta-slider {
    height: 45rem;
  }
}

.alta-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .alta-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .alta-slide .alta-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.alta-slide .alta-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.alta-slide .alta-slide-conteudo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.alta-slide-conteudo .preco-comida {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.alta-slide-conteudo .alta-slide-conteudo-baixo {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.avaliacao-comida {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.avaliacao   ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.alta-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alta-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .alta-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .alta-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .alta-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .alta-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.alta-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.alta-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.alta-slider-control .slider-arrow::after {
  content: '';
}

.alta-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.alta-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.alta-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


/* sobre-nós */
.imagem-sobre{
  height: 300px;
}
.about-us{
  background-color: #000;
  color: #fff;
}
.bem-vindo{
  color: #ec994b;
}
.btn-sobre{
  background-color: #ec994b;
  color: #fff;
  text-decoration: none;
}


/* comentarios */
.reviews .slide{
  margin-bottom: 4rem;
  border:var(--border);
  padding:2rem;
  text-align: center;
}

.reviews .slide img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.reviews .slide p{
  padding:1.5rem 0;
  line-height: 2;
  font-size: 1.6rem;
  color:var(--light-color);
}

.reviews .slide .stars{
  display: inline-block;
  padding:.5rem 1.5rem;
  border:var(--border);
}

.reviews .slide .stars i{
  font-size: 1.8rem;
  color:var(--yellow);
}

.reviews .slide h3{
  font-size: 2rem;
  margin-top: 1.5rem;
  text-transform: capitalize;
  color:var(--black);
}


/* contate-nos */
#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}


/* rodapé */
.rodape{
  height: 100px;
  width: 100%;
  background-color: #ec994b; 
  
  font-size: 10px;
}
.rodape a{
  text-decoration: none;
}

.rodape .container{
  height: 100%;
}
.sc{
  padding-top: 3px;
  padding-bottom: 3px;
}

.textos-esquerda{
  height: 100%;
  border-right: #CCCCCC solid 1px;
}

.copy{
  text-align: center;
  font-size: 10px;
}

@media (max-width:1208px) {
  .rodape{
    height: 150px;
  }
}

@media (max-width:320px) {
  .rodape{
    height: 180px;
  }
}

@media (max-width:767px){
.textos-esquerda{
  border-right: none;
}
}

/* icones */
.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.icon{
  text-align: center;
}

.wrapper{
  text-align: center;
}

@media (max-width:767px){
  .textos-direita{
    padding-top: 10px;
  }

  .copy{
    padding-top: 100px;
  }
}